body{margin: 0px; padding: 0px;}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-content: space-around */
    align-items: center;
    background-color: rgb(211, 209, 209);
    box-shadow: 1px 1px 10px;
    flex-wrap: wrap;
    }

header input{
    padding: 5px;
    border-radius: 7px;
}

header a{
    text-decoration: none;
    color: darkslategray;
}

section{
    background-image: url('./img/bg.jpg');
    height: 100vh;
    /* width: 100%; */
    background-size: cover; 
    background-attachment: fixed;
    margin-top: -20px;
}

section h2{
    position: relative;
    top: 10%;
    left: 5%;
    font-size: 2.3em;

}


section h2 button{
    padding: 10px 20px;
    background-color: dodgerblue;
    border-radius: 7px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-top: 5px solid orange;
}

main{
    background-image: url('./img/bg2.jpeg');
    background-attachment: fixed;
    background-size: cover;
  
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
    
    
}

main #card1 .c1{
    border: 2px solid silver;
    border-radius: 7px;
    margin: 10px;
    padding: 40px;
}

main #card1 .c1 img  {
    width: 150px;
    height: 150px;
    border-bottom: 1px solid silver;
}

main #card1 .c1:hover{
    box-shadow: 1px 1px 50px 1px silver;
}

footer{
    background-image: url('./img/ftr.png');
    background-attachment: fixed;
    background-size: cover;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  height: 50vh;
}

footer h2 a{
   color: white;
   padding: 20px;
   position: relative;
   top: 50xp;
}